<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel='stylesheet' href='/style.css' />
</head>

<body>
    <div class="title">
        <h1>Message Board</h1>
    </div>
    <div class="header">
        <form method="POST" action="/add">
        <input type="text" name="user" id="name" placeholder="Name">
        <input type="text" name="text" id="text" placeholder="Message">
        <input type="submit" id="button">
        </form>
    </div>
</body>
</html>